#app, #preview {
  display: none;
}
#app.active, #preview.active {
  display: block;
}
.found {
  color: white;
  background: black;
}
.flipped {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}
#preview {
  border: 1px solid black;
  background-color: black;
}
.scanned li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}